<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>running</title>
  <script src="/assets/js/Chart.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<form action="/session/create"method="post">
<input type ="text"name="name"placeholder="名前">
<input type ="password"name="password"placeholder="パスワード">
<input type = "submit" vulue="ログイン">
<ul>
	<button><li><a href="/user/new">新規登録</a></li></button>
</ul>
</body>
</html>

