<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>running</title>
  <script src="/assets/js/Chart.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<form action="/user/create"method="post">
	<input type ="text"name="name"placeholder="名前">
	<input type ="password"name="password"placeholder="パスワード">
	<input type ="password"name="password_onfirmation"placeholder="パスワードの確認">
 <input type = "submit" vulue="作成">
 
</body>
</html>

